@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: auto;
  }

  /* Fonts */

  @font-face {
    font-family: Digitalt;
    src: url("/fonts/Digitalt.woff2") format("woff2");
  }
  @font-face {
    font-family: Dozza-Regalic;
    src: url("/fonts/Dozza-Regalic.woff2") format("woff2");
  }
  @font-face {
    font-family: Public-Sans;
    src: url("/fonts/PublicSans-Regular.woff2") format("woff2");
  }

  .heading-leading {
    line-height: 2.75rem !important;
  }

  .card-leading {
    line-height: 2.25rem !important;
  }

  @media only screen and (min-width: 768px) {
    .heading-leading {
      line-height: 3rem !important;
    }
  }

  @media only screen and (min-width: 1024px) {
    .heading-leading {
      line-height: 3.5rem !important;
    }
  }

  p,
  li,
  div {
    font-weight: 400;
  }

  /* Container */

  .container {
    @apply px-3 md:px-4;
  }

  /* Card width */

  .card-half,
  .card-quarter,
  .card-featured {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .card-half,
    .card-quarter {
      width: 50%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .card-quarter {
      width: 25%;
    }

    .card-featured {
      width: 85%;
    }
  }

  @media only screen and (min-width: 2000px) {
    .card-half {
      width: 25%;
    }
  }

  /* Rich text styles */

  .rich-text h1 {
    @apply text-4xl md:text-5xl font-bold mb-6;
  }

  .rich-text h2 {
    @apply text-3xl md:text-4xl font-bold mb-6;
  }

  .rich-text h3 {
    @apply text-2xl md:text-3xl font-bold mb-6;
  }

  .rich-text h4 {
    @apply text-xl md:text-2xl font-bold mb-6;
  }

  .rich-text h5 {
    @apply text-lg md:text-xl font-bold mb-6;
  }

  .rich-text h6 {
    @apply text-lg md:text-lg font-bold mb-6;
  }

  .rich-text p {
    @apply mb-6 text-lg md:text-xl xl:text-2xl font-sans;
  }

  .rich-text ul {
    @apply list-none mb-6;
  }

  .rich-text ul p {
    @apply mb-0;
  }

  .rich-text a {
    @apply text-orokoRed underline font-bold;
  }

  .rich-text video {
    @apply mb-6;
  }

  .rich-text hr {
    @apply mb-6 border-black;
  }

  /* Marquee spacing fix */

  .marquee-wrapper .marquee {
    min-width: 0% !important;
  }

  /* clears the 'X' from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

/* Custom Substack embed */

#custom-substack-embed {
  @apply h-28;
}

#custom-substack-embed form {
  @apply border-0 font-sans px-2 sm:px-0;
}

#custom-substack-embed button {
  @apply rounded-full text-base md:text-lg lg:text-xl;
  border: black 2px solid !important;
}

#custom-substack-embed input {
  @apply rounded-full mr-2;
  border: black 2px solid !important;
}

#custom-substack-embed p {
  @apply text-black;
}
